---
layout: default
---

Posts:

<ul>
  {{#each @posts}}
    <li><a href="{{path}}">{{title}}</a></li>
  {{/each}}
</ul>

Pages:

<ul>
  {{#each @pages}}
    <li><a href="{{path}}">{{title}}</a></li>
  {{/each}}
</ul>
